/*csslint ids: false, box-model: false, universal-selector: false*/


/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
}


/*=================================================
General
==================================================*/

body {
    font-family: 'Alfa Slab One', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.main-header {
    background-image: url('img/pepperoni-pizza.jpg');
    /*    background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
    /*    background-image: linear-gradient(#ffa949, firebrick);*/
    /*    background: linear-gradient(grey, transparent 90%), linear-gradient(0deg, darkslategrey, transparent), #ffa949 url(../img/pepperoni-pizza.jpg);*/
    /*    background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding: 120px;
    text-align: center;
}

.sub-header {
    background-color: gray;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 145px;
    text-align: center;
}

.sub-header ul {
    text-decoration: underline;
}

.title {
    /*To change font-size from px to em. Do this simple equation.
    Whatever the desired pixel is / 16.
    26px/16px = #em
    */
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: 0.065em;
    padding-bottom: 10px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .8);
}

.links {
    float: left;
}

.primary-content {
    padding-bottom: 65px;
    text-align: center;
}

.secondary-content {
    background-color: forestgreen;
    border-bottom: 2px solid #dfe2e6;
    margin: auto;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.t-border {
    background-color: gray;
    border-top: 2px solid grey;
}


/*
ul li {
    margin-bottom: 5px;
}
*/

ul,
ol {
    margin-left: 30px;
}

li {
    margin-bottom: 10px;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.pizza {
    background-color: dimgray;
    background-image: url(/img/oven.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    /*    border-top: 20px solid red;*/
    /*Box Shadows: 1st value horizontal, 2nd value verrtical, 3rd value blur, 4th spread radius*/
    box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.8);
    margin: 60px 0 60px;
    padding: 18% 24%;
    /*  
    padding-bottom: 20px;
    padding-top: 20px;
*/
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px orange;
    padding-bottom: 60px;
    padding-top: 60px;
}

p {
    color: black;
    font-size: 20px;
}

li {
    font-size: 20px;
    list-style: none;
}

ul {
    padding: 0;
}

.sub {
    font-size: 7px;
}

.map {
    text-align: center;
    text-decoration: underline;
}

.foodmenu {
    background-image: url(/img/menu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 0 60px;
    padding: 40% 24%;
}

h3 .social-head {
    text-align: center;
}

.social {
    color: red;
    clear: both;
    display: inline-block;
    float: left;
    white-space: nowrap;
    
    padding-bottom: 5px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
}
/*=================================================
Headline Elements and P Elements
==================================================*/

h1 {
    /*90px/16px*/
    color: white;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    margin: 12px 0 0;
    /*Text Shadows: 1st value is horizontal offset. 2nd value is vertical offset.
      3rd value is blur. 4th is of the color of the shadow*/
    text-shadow: 0 10px 10px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

h2 {
    color: white;
    font-size: 53px;
    font-weight: lighter;
    margin-bottom: .5em;
    text-align: center;
    text-decoration: underline;
}

.fresh {
    color: white;
}

h3 {
    color: black;
    font-size: 30px;
    margin-bottom: 1.7em;
}


/*
p {
    
}
*/


/*=================================================
Floated Columns
==================================================*/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/*=================================================
Colors
==================================================*/

body {
    color: red;
}

.title {
    color: white;
}

.main-header {
    background-color: green;
}

.pizza {
    color: black;
    text-align: center;
}

ul li {
    color: black;
}


/*CSS Pseudo Class*/

a:link {
    color: indigo;
    text-decoration: none;
}

a:hover {
    background-color: #eee;
    color: blue;
}

a:active {
    color: mediumpurple;
}

a:focus {
    background-color: mediumpurple;
    color: white;
}


/*=================================================
Media Queries
==================================================*/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .pizza {
        margin: 50px 0 20px;
        padding: 10% 12%;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}


/*=================================================
Hamburger Menu
==================================================*/

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}


/*
html, body {
 height: 100%;
}
*/

body {
    background-color: #fff;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    margin: 0 auto;
    max-height: 255px;
    max-width: 212px;
}

nav {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 100px;
}

ul a {
    color: #aaa;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    text-decoration: none;
}

ul a:hover {
    background: #eee;
}

nav li {
    float: left;
    width: 20%;
}


/*---------------------------------------------------------
 Media Queries Hamburger
----------------------------------------------------------- */

@media only screen and (max-width: 2080px) {
    .hamburger {
        display: block;
        padding: 15px;
    }
    .line {
        border-bottom: 4px solid #bbb;
        cursor: pointer;
        margin-bottom: 6px;
        width: 35px;
    }
    .line:last-child {
        margin-bottom: 0;
    }
    /* Our styles here */
    nav li {
        width: 100%;
    }
    .menu {
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        color: #555;
        float: left;
        font: 1em 'Roboto', sans-serif;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
    }
    .open {
        height: 295px;
    }
}